<!--
  Generated template for the ProjectDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedProject.name}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span ion-text color="primary" showWhen="ios">
          Cancel
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="save()" [disabled]="!isReadyToSave" strong>
        <span ion-text color="primary" showWhen="ios">
          Save
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Comments</h2>
    <form *ngIf="projectForm" [formGroup]="projectForm" (ngSubmit)="saveProject()">
      <ion-list>
      <ion-item>
        <ion-label floating>Bullet #1</ion-label>
        <ion-input type="text" formControlName="bullet1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Bullet #2</ion-label>
        <ion-input type="text" formControlName="bullet2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Bullet #3</ion-label>
        <ion-input type="text" formControlName="bullet3"></ion-input>
      </ion-item>
    </ion-list>

  <h2>Photos</h2>
  <!-- Photos array -->
     <ion-list formArrayName="photos">
       <ion-item *ngFor="let photo of photos.controls; let i=index" [formGroupName]="i">
         <ion-thumbnail *ngIf="this.projectForm.controls.photos.controls[i].value.photo">
            <img [src]=this.projectForm.controls.photos.controls[i].value.photo />
         </ion-thumbnail>
         <button ion-button outline color="danger" item-right (click)="removePhoto(i)">Delete</button>
         <p *ngIf="!this.projectForm.controls.photos.controls[i].value.photo">Upload Photo {{i + 1}}</p>
         <ion-icon item-left name="images" on-tap="presentActionSheet(i)"></ion-icon>
       </ion-item>

     </ion-list> 

     <button ion-button small outline (click)="addDefaultPhoto()" type="button">Add a another photo</button>

  </form>

  <!--<p>projectForm value: {{projectForm.value | json}}</p>-->

</ion-content>
