page-project-detail {

  ion-icon[name=images] {	
      border: #FFFFFF 2px solid;    
      border-radius: 50%;
      background-color: #2155AA;    
      font-size: 35px;
      padding: 15px;
      color: #FFFFFF;	
  }

}
