<!--
  Generated template for the DistrictDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedDistrict.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addProject()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="grey" text-center *ngIf="selectedDistrict.projects.length === 0">
    <ion-icon name="md-image"></ion-icon>
    <!-- <img height="75px" src="assets/img/CHL_logo_BW.jpg"> -->
    
    <h2>No Projects yet. </h2>
    <p>Click that '+' in the top right to create one!</p>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let project of selectedDistrict.projects">
      <button ion-item (click)="editProject(project)">
        <ion-thumbnail item-left>
          <img *ngIf="project.map" [src]="project.map" />
          <img *ngIf="!project.map" [src]="selectedDistrict.map" />
        </ion-thumbnail>
        <h2>{{project.name}}</h2>
        <p>Updated: {{project.lastUpdate | date:'short'}}</p>
        <!--<ion-note item-right *ngIf="district.id">{{district.id}}</ion-note>-->
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteProject(project)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <p text-center><b>Your Info:</b> {{this.user.name}} <{{this.user.email}}> </p>
  <button ion-button block [disabled]="selectedDistrict.projects.length === 0" (click)="openSettingsModal()">Compile Report</button>
</ion-footer>
