// Styles for all of the user pages:
// Login, Signup, Support

page-support {
  .logo {
    padding: 20px 0;
    // min-height: 200px;
    text-align: center;

    img {
      max-width: 200px;
    }
  }

  .list {
    margin-bottom: 0;
  }
}